<% if current_page.first? %>
  <span class="csb" style="background-position:-28px 0;width:42px"></span>
<% else %>
  <%= link_to raw("<span class='csb ch' style='background-position:-6px 0;float:right;width:60px'></span><span style='display:block;margin-right:35px;clear:right;text-decoration:underline'>#{t('views.pagination.previous')}</span>"), url, :class => 'pn knavi', :id => 'pnprev', :style => 'text-decoration:none', :remote => remote %>
<% end %>
