<% if page.current? %>
<td class="cur"><span class="csb" style="background-position:-76px 0;width:33px"></span><%= page %></td>
<% else %>
<td><%= link_to raw(%Q[<span class="csb ch" style="background-position:-118px 0;width:25px"></span>#{page}]), url, :class => 'fl', :remote => remote %></td>
<% end %>
