<%= paginator.render do -%>
<table id="nav" style="border-collapse:collapse;text-align:left;direction:ltr;margin:0 auto"><tbody><tr valign="top">
<td class="b"><%= prev_page_tag -%></td>
<% each_page.select(&:inside_window?).each do |page| %><%= page_tag page -%><% end %>
<td class="b"><%= next_page_tag -%></td>
</tr></tbody></table>
<% end %>
