var $dialog = $('<div></div>')
    .html("<%%= escape_javascript(render('show'))%>")
    .dialog({
        autoOpen: false,
        title: '<%%= "#{t('models.<%= singular_table_name %>')} #{@<%= singular_table_name %>.try(:name) || @<%= singular_table_name %>.try(:id)}"%>'
    });
$dialog.dialog('open');
